<div>
    <h2>付近の落とし物情報</h2>
    <% if @map_items.present? %>
    <p>詳細<p>
        <ul class="sample1">
        <% n = 0 %>
            <% map_items.permit!.to_hash.each do |items| %>
                <li><%= raw("名前【#{items[1]["name"]}】<br/>
               登録された場所【#{items[1]["address"]}】") %></li>
           <%= link_to "詳細ページへ", item_path(items[1]["id"]) , class: "btn" %>

                <% n += 1%>

            <% end %>
        </ul>
    <!-- 初期では↓が表示され、ajaxで↑を表示する -->
    <% else %>
        <p>初期値だよ。ajaxで部分更新するとユーザーの名前が取れるよ</p>
        <p>ここにユーザーIDを３つ入れて送ってみるとな・・・</p>
        <div class="col-sm-4">
            <%= telephone_field_tag :test,:id,value:"1",id:"id1",class:"form-control" %>
            <%= telephone_field_tag :test,:id,value:"2",id:"id2",class:"form-control" %>
            <%= telephone_field_tag :test,:id,value:"3",id:"id3",class:"form-control" %>
        </div>
        <a href="javascript:void(0)" type="button" id="id_submit" class="btn btn-save"><i class="material-icons">save</i>ajax!</a>
    <% end %>
</div>