<%= render "shared/header" %>

<section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">落とし物情報</h2>
                <!-- Icon Divider-->
                <div class="divider-custom" >
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
              </div>
<div class="item-show">
  <div class="item-box">
    <h1 class="name">
      <%= @item.name %>
    </h1>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
      
      <% if @item.find.present? %>
      <div class="sold-out">
        <span>発見済み!!</span>
      </div>
      <% end %>
      
    </div>
    <div class="item-price-box">
      <span class="item-postage">
        <h2><%= @item.address %></h2>
      </span>
    </div>

  <% unless @item.find.present? %>
    <% if user_signed_in? && current_user == @item.user %>
      <%= link_to "商品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
      <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
    <% elsif user_signed_in? %>
    <%= link_to "拾った！", item_finds_path(@item), class:"item-red-btn"%>
    <% end %>
  <% end %>
  <% if @item.find.present? %>
 
<div class="item-price-box4 mb-4">
      <div class="item-price-box2">
      <span class="item-postage">
        <h2> <%= @item.find.user.nickname %>さんから感謝のメッセージが届いています</h2>
      </span>
    </div>
    <div class="item-price-box3">
      <h4><%= @item.find.comment %></h4>
      </div>
          </div>
    <% end %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">発見者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">名称</th>
          <td class="detail-value"><%= @item.name %></td>
        </tr>
        <tr>
          <th class="detail-item">落とし物の場所</th>
          <td class="detail-value"><%= @item.address %></td>
        </tr>
        <% if @item.color.present? %>
        <tr>
          <th class="detail-item">落とし物の色</th>
          <td class="detail-value"><%= @item.color %></td>
        </tr>
        <% end %>
        <tr>
          <th class="detail-item">登録された時間</th>
          <td class="detail-value"><%= @item.created_at.to_s(:datetime_jp) %></td>
        </tr>
      </tbody>


    </table>
    
  </div>
  <%# /商品の概要 %>

<h2 class="masthead-heading text-uppercase mb-10 map1 "><span>google map</span></h2>

<div id='map'></div>
<script>
let map
let uluru
let marker


      // Initialize and add the map
      function initMap() {
        // The location of Uluru
         //uluru = { lat: 35.6809591, lng: 139.7673068 };
         uluru = { lat: <%= @item.latitude %>, lng: <%= @item.studios %>};
        // The map, centered at Uluru
         map = new google.maps.Map(document.getElementById("map"), {
          zoom: 16,
          center: uluru,
        });
        // The marker, positioned at Uluru
         marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
  }
</script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap&libraries=&v=weekly"
      async
    ></script>

<footer class="footer text-center" style='width:100% !important; height:200px !important; margin-top :20px;' >
            <div class="container">
                <div class="row">
                    
                <div class="col-lg-12 mb-5 mb-lg-0">
                   <h1 class="text-uppercase mb-4">Drop Item&emsp;
                 
                      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
                       <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
                   </h1>
                </div>
                    
                </div>
            </div>
        </footer>
   <%= link_to "https://twitter.com/share?url=https://drop-item.herokuapp.com/items/#{@item.id}&text=#{@item.address}で落とし物を見つけました！落とし物共有サイトならDropItem&hashtags=DropItem", title: 'Twitter', target: '_blank', class: 'add_style purchase-btn' do %>
  <span class='purchase-btn-text'>つぶやく</span>
  <%= image_tag 'twitter.jpg', size: '200x50' ,class: "purchase-btn-icon" %>
  <% end %>
